.muhammad-ahmad {
  font-weight: bold !important;

  margin-left: 5%;
  color: #4b0082 !important;
}
.soft-eng {
  margin-left: 5%;
  color: #4b0082 !important;
}
.containerr {
  background-color: aliceblue;
}
.border-bottom-fRow {
  border-bottom: 3px solid #9683ec;
}
.display-flexx {
  display: flex !important;
}
.margin-oneTP {
  margin-top: 1% !important;
}
.work-exp {
  margin-left: 3%;
}
.darkColor {
  color: #4b0082 !important;
}
.text-bold {
  font-weight: bold !important;
}
.width {
  width: 100% !important;
}
.margin-left-auto {
  margin-left: auto !important;
}
